.buttons-container {
  padding-left: 10px;
  display: grid;
  grid-template-areas:
    "left drop right . start pause"
    "left drop right . rotate rotate"
    "left down right . rotate rotate"
    "left down right . rotate rotate";
  grid-template-rows: 60px 60px 60px 60px;
  grid-template-columns: 56px 56px 56px 43px 50px 40px;
}

.button-container {
  display: inline-flex;
  flex-direction: column;
  margin: auto;
}

.button-container > span {
  margin-left: 7px;
  text-align: center;
}

.tetris-button:focus,
.tetris-option-button:focus {
  outline: 0;
}

.tetris-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  margin: 10px 1px 10px 5px;
}

.tetris-button:active,
.tetris-button__active {
  margin: 15px -4px 5px 10px;
}

.tetris-option-button {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  margin: 10px 1px 10px 10px;
}

.tetris-option-button:active,
.tetris-option-button__active {
  margin: 15px -4px 5px 15px;
}

.tetris-button__dark {
  --bg-color-d: #0035ab;
  --shadow-color-d: #011a50;
  background-color: var(--bg-color-d);
  box-shadow: 1px 1px 0px 0px var(--shadow-color-d),
    2px 2px 0px 0px var(--shadow-color-d), 3px 3px 0px 0px var(--shadow-color-d),
    4px 4px 0px 0px var(--shadow-color-d), 5px 5px 0px 0px var(--shadow-color-d);
}

.tetris-button__dark:active,
.tetris-button__dark__active {
  --bg-color-d: #002e92;
  box-shadow: inset 3px 3px 0px 0px var(--tetris-shadow-color-d);
  background-color: var(--bg-color-d);
}

.tetris-option-button__dark {
  --bg-color-d: #cfdc04;
  --shadow-color-d: #52560c;
  background-color: var(--bg-color-d);
  box-shadow: 1px 1px 0px 0px var(--shadow-color-d),
    2px 2px 0px 0px var(--shadow-color-d), 3px 3px 0px 0px var(--shadow-color-d),
    4px 4px 0px 0px var(--shadow-color-d), 5px 5px 0px 0px var(--shadow-color-d);
}

.tetris-option-button__dark:active,
.tetris-option-button__dark__active {
  --bg-color-d: #a5af08;
  box-shadow: inset 3px 3px 0px 0px var(--tetris-shadow-color-d);
  background-color: var(--bg-color-d);
}

@media screen and (max-height: 700px) {
  .buttons-container {
    grid-template-rows: repeat(4, 40px);
    grid-template-columns: 64px 64px 64px 6px 60px 50px;
  }
  .tetris-button {
    margin: 10px 1px 5px 5px;
  }
  .tetris-button:active,
  .tetris-button__active {
    margin: 15px -4px 0 10px;
  }
  .tetris-option-button {
    margin: 10px 1px 2px 5px;
  }
  .tetris-option-button:active,
  .tetris-option-button__active {
    margin: 15px -4px -3px 10px;
  }
}
