.canvas-container {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  padding: 1px 3px;
}

.canvas-container__dark {
  --bg-color-d: #0c0e11;
  --shadow-color-d: #2c3440;
  margin: 10px 1px 10px 1px;
  box-shadow: 1px 1px 0px 0px var(--shadow-color-d),
    2px 2px 0px 0px var(--shadow-color-d), 3px 3px 0px 0px var(--shadow-color-d),
    4px 4px 0px 0px var(--shadow-color-d), 5px 5px 0px 0px var(--shadow-color-d),
    6px 6px 0px 0px var(--shadow-color-d), 7px 7px 0px 0px var(--shadow-color-d),
    8px 8px 0px 0px var(--shadow-color-d), 9px 9px 0px 0px var(--shadow-color-d),
    10px 10px 0px 0px var(--shadow-color-d);
  background-color: var(--bg-color-d);
}

.canvas-container__light {
  --bg-color-l: #ea41ec;
  --shadow-color-l: #820184;
  margin: 10px 1px 10px 1px;
  box-shadow: 1px 1px 0px 0px var(--shadow-color-l),
    2px 2px 0px 0px var(--shadow-color-l), 3px 3px 0px 0px var(--shadow-color-l),
    4px 4px 0px 0px var(--shadow-color-l), 5px 5px 0px 0px var(--shadow-color-l),
    6px 6px 0px 0px var(--shadow-color-l), 7px 7px 0px 0px var(--shadow-color-l),
    8px 8px 0px 0px var(--shadow-color-l), 9px 9px 0px 0px var(--shadow-color-l),
    10px 10px 0px 0px var(--shadow-color-l);
  background-color: var(--bg-color-l);
}
