body {
  margin: 0;
  background-color: #252525;
  color: #dedede;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  min-height: 100vh;
}

.tetris-container {
  display: flex;
  margin: 20px auto;
  box-shadow: 1px 1px 0px 0px #171717, 2px 2px 0px 0px #171717,
    3px 3px 0px 0px #171717, 4px 4px 0px 0px #171717, 5px 5px 0px 0px #171717,
    6px 6px 0px 0px #171717, 7px 7px 0px 0px #171717, 8px 8px 0px 0px #171717,
    9px 9px 0px 0px #171717, 10px 10px 0px 0px #171717;
  padding: 0px 15px 10px 5px;
  padding-bottom: 150px;
  background-color: rgba(3, 88, 243, 0.07);
  border-radius: 20px;
}

.canvas-container {
  margin: 10px 1px 10px 1px;
  box-shadow: 1px 1px 0px 0px #171717, 2px 2px 0px 0px #171717,
    3px 3px 0px 0px #171717, 4px 4px 0px 0px #171717, 5px 5px 0px 0px #171717,
    6px 6px 0px 0px #171717, 7px 7px 0px 0px #171717, 8px 8px 0px 0px #171717,
    9px 9px 0px 0px #171717, 10px 10px 0px 0px #171717;
  background-color: #0c0e11;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  padding: 1px 3px;
}

.info-container {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 80px;
}

.info-container > div {
  margin: 5px 0;
}

.button-container {
  display: inline-flex;
  flex-direction: column;
}

.button-container > span {
  margin-left: 7px;
  text-align: center;
}

.tetris-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #0035ab;
  border: none;
  box-shadow: 1px 1px 0px 0px #171717, 2px 2px 0px 0px #171717,
    3px 3px 0px 0px #171717, 4px 4px 0px 0px #171717, 5px 5px 0px 0px #171717;
  margin: 10px 1px 10px 0px;
}

.tetris-button:focus {
  outline: 0;
}

.tetris-button:active {
  box-shadow: -3px -3px 0px 0px #171717, -2px -2px 0px 0px #171717,
    -1px -1px 0px 0px #171717, inset -1px -1px 0px 0px #242834,
    inset -2px -2px 0px 0px #242834, inset -3px -3px 0px 0px #242834;
  margin: 18px -7px 2px 8px;
  background-color: #002e92;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
